.card-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  background-color: #0b5677;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #08415b;
}

.pagination span {
  font-weight: bold;
}
